In [17]:
#! pip install matplotlib pandas numpy xlrd

In [18]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import xlrd

In [19]:
open("CTD-Transect_Gibraltar.csv")

sal_all = pd.read_csv('CTD-Transect_Gibraltar_sal.csv')
print(sal_all)

      Unnamed: 0    St_01    St_02    St_03    St_04    St_05    St_06  \
0            NaN  35.8980  35.9980  36.0650  36.1320  36.2000  36.2670
1            NaN  -8.3352  -8.3332  -8.3348  -8.3342  -8.3343  -8.3343
2            1.0  36.6040  36.6180  36.6150  36.6110  36.5990  36.5910
3            2.0  36.6040  36.6180  36.6150  36.6110  36.5990  36.5910
4            3.0  36.6040  36.6180  36.6150  36.6110  36.5990  36.5910
...          ...      ...      ...      ...      ...      ...      ...
2171      2143.0      NaN  35.1100      NaN      NaN      NaN      NaN
2172      2144.0      NaN  35.1100      NaN      NaN      NaN      NaN
2173      2145.0      NaN  35.1100      NaN      NaN      NaN      NaN
2174      2146.0      NaN  35.1090      NaN      NaN      NaN      NaN
2175      2147.0      NaN  35.1090      NaN      NaN      NaN      NaN

        St_07    St_08    St_09    St_10    St_11    St_12    St_13    St_14  \
0     36.3330  36.4000  36.4670  36.5170  36.5650  36.6180  36.6650  36.7150
1     -8.3327  -8.3328  -8.3345  -8.3343  -8.3323  -8.3335  -8.3328  -8.3325
2     36.5580  36.5230  36.4330  36.3780  36.3400  36.4110  36.0790  36.0180
3     36.5580  36.5230  36.4330  36.3780  36.3400  36.4110  36.0790  36.0180
4     36.5580  36.5230  36.4330  36.3780  36.3400  36.4110  36.0790  36.0180
...       ...      ...      ...      ...      ...      ...      ...      ...
2171      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
2172      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
2173      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
2174      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
2175      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN

        St_15    St_16    St_17    St_18
0     36.7520  36.7800  36.8150  36.8620
1     -8.3333  -8.3343  -8.3325  -8.3333
2     36.0220  36.0160  36.0070  35.9560
3     36.0220  36.0160  36.0070  35.9560
4     36.0220  36.0160  36.0070  35.9560
...       ...      ...      ...      ...
2171      NaN      NaN      NaN      NaN
2172      NaN      NaN      NaN      NaN
2173      NaN      NaN      NaN      NaN
2174      NaN      NaN      NaN      NaN
2175      NaN      NaN      NaN      NaN

[2176 rows x 19 columns]

In [20]:
lat  = sal_all.iloc[0,1:]
depth = sal_all.iloc[2:,0]
sal = sal_all.iloc[2:,1:]


print(np.size(lat))
print(np.size(depth))
print(np.size(sal))
#print(lat)

18
2174
39132
St_01    35.898
St_02    35.998
St_03    36.065
St_04    36.132
St_05    36.200
St_06    36.267
St_07    36.333
St_08    36.400
St_09    36.467
St_10    36.517
St_11    36.565
St_12    36.618
St_13    36.665
St_14    36.715
St_15    36.752
St_16    36.780
St_17    36.815
St_18    36.862
Name: 0, dtype: float64

In [15]:

#print(lat)
#print(depth)
#Sprint(sal)

In [ ]:
plt.contourf(lat,depth,sal,np.arange(35, 37, 0.1))
cbar = plt.colorbar()
#plt.contour(lat,depth,sal,np.arange(35, 37, 0.1),colors='k')
plt.gca().invert_yaxis()
plt.xlabel('Latitude ($^\circ$N)',fontsize=16)
plt.ylabel('Depth (m)',fontsize=16)
plt.title('Salinity transect',fontsize=20)
cbar.set_label('Salinity (PSU)',fontsize=16)
plt.show()